h1 {
    color: #ff0000 ;
    border: 1px solid #0000ff;
    }

    .paragrafo {
        font-size: 60px;
        border: 50px solid #0000ff;
        border-radius: 50%;
    }

    .imagemzinha {
        width: 500px;
        border-radius: 30px;
    }